doctype html
html
    head
        title Socket.IO chat
        link( rel="stylesheet" href='bower_components/bootstrap/dist/css/bootstrap.min.css')
        link( rel="stylesheet" href='css/main.css')

    body( ng-app="socketChat" )
        div( ui-view="" )

        script(src='/socket.io/socket.io.js')
        //- script(src='http://code.jquery.com/jquery-1.11.1.js')
        script( src= 'bower_components/jQuery/dist/jquery.min.js' )
        script( src= 'bower_components/angular/angular.min.js' )
        script( src= 'bower_components/angular-ui-router/release/angular-ui-router.min.js' )

        script( src= 'bower_components/angular-bootstrap/ui-bootstrap.min.js' )
        script( src= 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' )



        script(src='script/all.js')
