div.container-main-sign.col-xs-12
    div.singin.col-xs-6
        h1 Iniciar

        form( ng-submit="signin()" )
            div.form-group
                label(for='email') Email
                input#email.form-control(type='email', placeholder='Email' ng-model="user.mail" )
            div.form-group
                label(for='password') Contrase単a
                input#password.form-control(type='password', placeholder='Contrase単a' ng-model="user.pass")
            button.btn.btn-default(type='submit') Submit

            a.btn.btn-primary(href='/auth/facebook')
                span.fa.fa-facebook Facebook

            a.btn.btn-primary(href='/auth/twitter')
                span.fa.fa-facebook Twitter



    div.singup.col-xs-6
        h1 Registrate
        form( ng-submit="singup()" )
            div.form-group
                label(for='name') Nombre
                input#name.form-control(type='text', placeholder='Nombre' ng-model="user.name")
            div.form-group
                label(for='last-name') Apellidos
                input#last-name.form-control(type='text', placeholder='Password' ng-model="user.lastName")
            div.form-group
                label(for='email2') Email
                input#email2.form-control(type='email', placeholder='ejemplo@dominio' ng-model="user.mail2")
            div.form-group
                label(for='password2') Contrase単a
                input#password2.form-control(type='password', placeholder='Contrase単a' ng-model="user.pass2")
            button.btn.btn-default(type='submit') Submit
